body {margin-top:10px; margin-bottom:10px; 
      background-image:url(brics3.jpg); 
      background-attachment:fixed; color:#000000; }
a:link { color:#FF0000; font-weight:bold; }
a:visited { color:#585858; font-weight:bold; }
a:active { color:#0000FF; font-style:italic; }
h1 { font-size:24pt; }
p { font-size:14pt; }
